@import '../../scss/variables';
.navigation-container {
    width: 100%;
    padding-right: 15px;
    background: $white;
    height: 55px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    align-items: center;
}

@media (max-width: 767px) {
    .navigation-container {
        height: 100px !important;
    }
}